<!DOCTYPE html>
<html>
  <head>
  	
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	 
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	 <script type="text/javascript" src="feed.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	 </script>

  </head>
<body>

<!-- START Navigation bar -->
  	<nav id = "nav">
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
 			<div class="container-fluid">
    			<div class="navbar-header">
	   			   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    		    <span class="sr-only">Toggle navigation</span>
		     			<span class="icon-bar"></span>
		       			<span class="icon-bar"></span>
		       			<span class="icon-bar"></span>
	     			</button>
	    			<a class="navbar-brand" href="/">Search</a>
	    				<ul class="nav navbar-nav">
					      	<li><a href="/explore">Explore</a></li>
					      	<li><a href="/how_it_works">How it Works</a></li>
	      	
	      				</ul>
    			</div>
			</div>
		</nav>
	</nav>
	<!-- END Navigation bar -->
	
<div id="QuickSearch">
		<div id="QuickSearch">
			<h1>How it Works</h1>
			<p>
				Welcome to CU Shares, the first web app for Columbia students that connects students from all schools. If you have ever felt generous, or in need of something, this is the right place for you! The purpose of this website is to connect the Columbia community with the simple act of caring.
			</p>
			<br>
			<br>
	<!--START HONOR CODE -->
			<h1>Our Honor Code</h1>
			<p> 
			By using #CUShares to request or lend an item, you agree to abide by the Honor System. 

			As a member of the Columbia University community, it is expected that you act in full honesty when making transactions through #CUShares. The honor system is what makes #CUShares possible. You pledge not to steal or lose items that you  borrow, and you promise to return the same item or an equivalent one if stolen or lost. This community is based on mutual respect — honesty, trust, and good communication. 

			Transactions will not be supervised by the administration of CUShares, and thus CUShares holds no responsibility for lost or stolen items. We reserve the right to refuse service to anyone who does not abide by the honor system. Please keep in mind that you are sharing or borrowing at your own discretion, and you are expected to make wise decisions when it comes to deciding who you are making a transaction with. Use the rating system, write comments for users with whom you had a good (or bad) experience, and share away! 

			#SharingIsCUcaring #SharingIsCUcaring #SharingIsCUcaring #SharingIsCUcaring
			</p>
		</div>
	</div>


</body>