<!DOCTYPE html>
<html>
<head>
	<title>Toiletries Feed</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
</head>
<body>
	<div class="page-header">
	<h1>@ The User!</h1>
	<p>Once you find a user that has something that you're
	interested in, @ the user and let them know you're
	interested!</p>
	<button style="text-align:center;" type="button" class="btn btn-info">Home</button>
	</div>

	<a class="twitter-timeline" href="https://twitter.com/search?q=%23CUShares%20%22toiletries%22" data-widget-id="665631342261051392">Tweets about #CUShares "toiletries"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>                        g